__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.git
.gitignore
.dockerignore
.idea
.vscode

docker-compose.yml
docker-compose.test.yml
docker-compose.deploy.yml

*.log

# env / secrets
.env
.env.*
